HERALD_SWIFTTEST_OS_AUTH=$TF_VAR_OS_PASSWORD
HERALD_SWIFTTEST_OS_PASSWORD=$TF_VAR_OS_PASSWORD
HERALD_SWIFTTEST_OS_PROJECT_NAME=$TF_VAR_OS_PROJECT_NAME
HERALD_SWIFTTEST_OS_USERNAME=$TF_VAR_OS_USERNAME
HEARLD_SWIFTTEST_AUTH_URL=https://api.pub1.infomaniak.cloud/identity/v3
HEARLD_SWIFTTEST_OS_REGION_NAME=dc3-a
